/* HEADER */
@import url('https://fonts.googleapis.com/css?family=Concert+One|Oswald');

.wlogo {
    width: 45px;
}

.headfootcolor, .title {
    background-color: #FBBC05;
}

.bottomcolor {
    background-color: #EA4334;
}
.nav-pills a {
    font-size: 24px;
}

.mainfont {
    font-family: 'Concert One', cursive;
    color: rgb(3, 0, 0);
}

.secondfont {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(3, 0, 0);
}

.headerfont {
    color: black;
}

.col-md-3 {
    border: black;
    border-width: 3px;
}
.sitelink {
    font-size: 24px;
}

.schoolsitelink {
    font-size: 18px;
    text-align: center;
}

.top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    opacity: 0.7;
}

.codingprojects {
    background-color: #3e9d1e;
}

.secondrow, .thirdrow {
    background-color: #4185F4;
    opacity: 0.9;
}

.project-logo {
    height: 150px;
    opacity: 1;
}

.restaurantelogo {
    height: 150px;
    width: 200px;
}

.atgtext {
    width: 500px;
}

.schoolicon {
    /* align-self: center; */
    width: 120px;
}

.allschools {
    display: flex;
}

.school {
    align-self: center;
}

.linkdark a {
    color:white;
}

.a {
    color:white;
    text-decoration: none;
}

.linkwhite {
    color:white;
}

/* FOOTER STYLES */

.footer {
    /* background-color: #6AB4E1;*/
    height: 100px;
    /* width: 100%; */
}
.footer-col {
    height: 72px;
    /* width: 33%; */
    float: left;
    text-align: center;
}

.social-media {
    margin-top: 27px;
}

.contactme, .copyright {
    margin-top: 35px;
}

.fa-twitter-square {
    color: #C32228;    
}

.bigfootfont {
    font-size: 20px;
}

/*********End of Footer********/
