/* HEADER */
@import url('https://fonts.googleapis.com/css?family=Concert+One|Oswald');

.wlogo {
    width: 45px;
}

.nav-pills a {
    font-size: 24px;
}

.mainfont {
    font-family: 'Concert One', cursive;
}

.secondfont {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.sitelink {
    font-size: 24px;
}

.schoolsitelink {
    font-size: 18px;
    text-align: center;
}

.top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.project-logo {
    height: 150px;
}

.restaurantelogo {
    height: 150px;
    width: 200px;
}

.atgtext {
    width: 500px;
}

.schoolicon {
    /* align-self: center; */
    width: 120px;
}

/* ON ROW HOLDING ALL 3 COLUMNS */
.allschools {
    display: flex;
}

/* ON EACH OF THE COLUMNS */
.school {
    align-self: center;
}

/* FOOTER STYLES */

.footer {
    /* background-color: #6AB4E1;*/
    height: 100px;
    /* width: 100%; */
}
.footer-col {
    height: 72px;
    /* width: 33%; */
    float: left;
    text-align: center;
}
button {
    height: 20px;
    width: 100px;
    border-radius: 3px;
    margin-top: 38px;
}
input {
    width: 100px;
}
.social-media {
    margin-top: 27px;
}
.fa-facebook-square {
    color: #C32228;
}
.fa-twitter-square {
    color: #C32228;    
}
.fa-hand-spock {
    color: #C32228;
}
.copyright {
    margin-top: 20px;
}
/*********End of Footer********/
